<h1>Adoption Application</h1>

<%= form_with url: "/applications", method: :post, local: true, id: "new_application" do |form| %>
  <p>Enter your details below: </p>
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name %><br/>
  <%= form.label :street_address, "Street Address:" %>
  <%= form.text_field :street_address %><br/>
  <%= form.label :city, "City:" %>
  <%= form.text_field :city %><br/>
  <%= form.label :state, "State:" %>
  <%= form.text_field :state %><br/>
  <%= form.label :zip_code, "Zip Code:" %>
  <%= form.text_field :zip_code %><br/>
  <%= form.label :description, "Tell us why you would make a good home:" %><br/>
  <%= form.text_area :description, size: "50x5"  %><br/>
  <%= form.hidden_field :status, value: "In Progress" %>

  <%= form.submit "Save" %>
<% end %>