<h3>Application Details:</h3>
<%= "Name: #{@application.name}" %>
<%= "Address: #{@application.full_address}" %><br>
<%= "Description: #{@application.description}" %><br>
<%= "Status: #{@application.status}" %><br>
<h3>Pets:</h3>
<div class="list">
  <% @application.pets.each do |pet| %>
    <%= link_to pet.name, "/pets/#{pet.id}" %><br>
  <% end %>
</div>
<div class="add_pet_to_application">
  <h3>Add a Pet to this Application</h3>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
    <%= form.label :name, "Search By Pet's Name" %>
    <%= form.text_field :name %>
    <%= form.submit "Submit" %>
  <% end %>
  <% if @pets != nil %>
    <div class="list">
      <% @pets.each do |pet| %>
        <%= pet.name %><br>
      <% end %>
    </div>
  <% end %>
</div>