<h1>All Veterinary Offices</h1>

<div class="sortSearch">
  <%= link_to "Sort by number of veterinarians",
    'veterinary_offices?sort=veterinarian_count' %>
</div>

<% @veterinary_offices.each do |office| %>
  <div class="list" id="veterinary-office-<%= office.id %>">
    <h3><%= link_to "#{office.name}", "/veterinary_offices/#{office.id}" %></h3>
    <p>Created at: <%= office.created_at %></p>
    <%= link_to "Update #{office.name}", "/veterinary_offices/#{office.id}/edit" %>
    <%= link_to "Delete #{office.name}", "/veterinary_offices/#{office.id}", method: :delete %>
  </div>
<% end %>
