<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag "https://pixy.org/src2/578/5789009.png" %>
  </head>

  <body>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
    <nav>
      <ul class="navLinks">
        <li><%= link_to "Pets", "/pets" %></li> 
        <li><%= link_to "Shelters", "/shelters" %></li> 
        <li><%= link_to "Veterinarians", "/veterinarians" %></li> 
        <li><%= link_to "Veterinary Offices", "/veterinary_offices" %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
